@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&display=swap');
*{
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.group {
    position: relative;
    background: radial-gradient(
      circle at 50% 50%,
      rgb(51, 10, 10),
      rgb(5, 5, 21)
    );
   display: flex;
   flex-direction: column;
   z-index: 55;
  }
  
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #39053163;
    width:100%;
    padding: 20px 50px;
    z-index: 5;

}
header .logo a{
    text-decoration: none;
    color: white;
    font-weight: 600px;
    font-size: 25px;
}
header .logo a b{
    color: #fd003b;
}
header .logo i{
    color: white;
    font-size: 25px;
}
header .menu{
   
    display: flex;
    align-items: center;

  
}
.menu .menu-content{
   
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.menu .menu-content a{
    color: white;
    text-decoration: none;
}
.menu .menu-content a:hover{
    color: #fd003b;

}
.menu i{
  
    display: none;
}
nav{
    
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav .left{
    
    width:700px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 0 50px;
    color: white;
    
}
.advert{
    
    background-color: #39053163;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 5;
    padding: 0 50px;
    
   

}
.icons{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    animation: reklam 3s ease-in;
    animation-iteration-count:infinite;
    
}
@keyframes reklam {
    0%{
        transform:translateX(10px)

    }
    50%{
        transform:translateX(-10px);

    }
    100%{
        transform: translateX(10px);
    }
    
}
.advert img{
    width: 40px;
    cursor: pointer;

}
/* TABLET İÇİN GENİŞLİK MİN:768PX MAX:1023PX */
@media screen and (min-width:768px) and (max-width:1023px) {
    header .menu {
        position: relative; /* MERKEZE GÖRE KONUMUNU TANIMLARIZ */
      }
      header .menu:hover .menu-content {
        background-color: #ccc;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25px;
        right: 0px;
        padding: 10px;
        border-radius: 20px;
      }
      .menu-content a {
        color: black !important;
      }
      .menu-content a:hover {
        color: red !important;
      }
    
      header .menu i {
        display: flex;
        font-size: 25px;
        color: white;
      }
    
      header .menu .menu-content {
        display: none;
      }
    
      .about{
        flex-direction: column;
      }
      .about .about-left{
        width: 50%;
      }
      .about .about-left img{
        width: 100%;
        height: 300px;
      }
      .about .about-right{
        width: 80%;
      }
      .contact {
        flex-direction: column;
        gap: 0;
      }
      .contact-left {
        padding-bottom: 0;
        text-align: center;
      }
      .contact-right {
        width: 100%;
      }
      footer {
        flex-direction: column;
      }
      .footer-right {
        gap: 10px;
      }
      .footer-right ul {
        text-align: center;
      }
      .about{
        flex-direction: column;
        gap: 0;
      }
      .about .about-left{
        width: 80%;
      }
      .about-left img{
        width: 100%;
        height: 200px;
      }
      .about-right{
        align-items: center;
        padding-top: 25px;
      }
      .about-right span{
        text-align: center;
      }
    }
    
@media screen and (max-width:767px) {
  
    .menu .menu-content{    
        display:none;
        position:absolute;
        top: 25px;
        right: 0;
        
    }
     .menu i{
        color: white;
        font-size: 25px;
  
        display:flex;
    }
    header .menu{
        position: relative;
       
        
    }
    .menu-content a{
        color: black !important;
        transition: 0.3s;
    }
    .menu-content a:hover{
        color: red !important;
        transition: 0.3s;
    }
    .menu:hover .menu-content{
       
        background-color:#ccc;
        border-radius: 20px;
        transition: 0.3s;
        opacity: 0.8;
        transition: 5s;
        display: flex;
        flex-direction: column;
        padding: 10px;
       
        
    }
    .cards .card{
        width:80%;
        
    }
    
    
}
.bg{
    position: absolute;
    top:0px;
    width: 100%;
    height: 100%;
   object-fit: contain;
    opacity: 0.18;
    z-index: -1;
    
}
.animation{
    color: #c0d666;
    width: 80%;
    font-weight: 600;
    font-size: 34px;
    animation: anim1 ease-in-out 1s 1000;
    /* animation:adı işlem süresi zamanlama ivme geciktirme tekrar sayısı yönü fill-mode*/
}
@keyframes anim1{
    0%{
        transform: translate(-100%);

    }
    50%{
        transform: translateX(100%);

    }
    100%{
        transform: translateX(100%);

    }
}
nav .left h1{
    font-family:'Russo One','sans-serif' ;
    font-size: 46px;
}
nav .left button{
    padding: 7px;
    color: white;
    background: transparent;
    font-size: 20px;
    border: 2px solid gainsboro;
    
}
nav .left button:hover{
    border-radius: 10px;
    border:2px solid rgb(255, 0, 238) ;
}
/* Kartlar start */
aside{
    background-image: radial-gradient(rgba(0, 0, 0, 0.412),black) ,url(david-becker-dMeEJRE18VI-unsplash.jpg);
       
}
aside h1{
    font-size: 36px;
    color: white;
    padding-top: 30px;
    text-align: center;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

}
.cards .card{
    border: 5px solid red;
    color: white;
    width: 45%;
    padding: 15px;
    border: 0.2px solid rgba(79,76,76,0.5) ;
    border-radius: 10px;
}
.cards .card:hover{
    border:0.2ox solid rgba(207, 188, 188, 0.5);
    background: radial-gradient(rgba(0,0,0,0.809),rgba(128, 0, 128, 0.316));
}
.card .card-title{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
    
}
.card .card-title img{
    width:100px;
    height: 100px;
    border: 4px solid transparent;
    border-radius:60%;
    padding:1px;
    animation: pulse-border 2s alternate infinite;
}
@keyframes pulse-border{
  0%{
    border-color: rgba(222, 8, 8, 0.594);
  }
  50%{
    border-color: #7d0833;
  }
  100%{
    border-color: rgba(8, 110, 110, 0.844);
  }
    
}

.card p{
    font-weight: 200px;
    margin-bottom: 20px;
}
.card button{
    padding: 7px 15px;
    font-size: 20px;
    color: white;
    background: transparent;
    border: 4px solid #500523;
    border-radius: 20px;

}
/* KARTLAR END */
/* ABOUT START */
article{
  
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: center;
}
article h1{
    font-size: 36px;
}
article p{
    margin-bottom: 40px;
    color:#c13e73 ;
    text-align: center;
}
.about{
    display: flex;
    gap: 50px;
    align-items: center;

}
.about .about-left{
      width: 60%;
}
.about-left img{
    width: 350px;
    object-fit: cover;
    border-radius: 20px;
    margin-right:200px;
}
.about .about-right{
    width: 40%;
    display: flex;
    flex-direction:column;
    align-items: start;
    padding: 7px;
}
.about-right h1{
    color:#c13e73;
    font-size: 30px;
    margin-bottom: 10px;
    text-align:center;
}
.about-right button{
    padding: 7px;
    margin-top:30px;
    color: white;
    background: linear-gradient(to left,purple,rgba(0, 0, 255, 0.519));
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.footer{
   
    display: flex;
    flex-direction: row;
    background-color: rgba(87, 128, 114, 0.438);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
}
.footer-left{
    
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-left h1{
    font-family: 'Indie Flower';
    
}
.footer-right{
    
   display: flex;
   gap: 60px;
   margin-right:100px;
   
}
.footer-right ul :nth-child(1){
    font-weight: bold;
    
}


.footer-left p{
   
    font-size: 18px;
    color: black;
}
.footer-left-social{
   
    display: flex;
    
    
    gap: 5px;
}
.footer-left-social a{
   
    color:rgb(100, 90, 90);
    padding: 20px;
    border-radius: 50%;
    

}
.footer-left-social a:hover{
    transform: scale(2.1);
    transition: 0.3s;
   
}
.footer-left-social i{
    font-size:xx-large;
}
.footer-right ul li{
    list-style-type: none;
    font-size: 18px;
    cursor: pointer;
}
.footer-right ul li :nth-child(1){
    font-weight: 800;

}
.bodier{
    display: flex;
    flex-direction: row;
    background-color:black;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom:300px;
    
}
.bodier-left{
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    margin-top: 150px;
}
.bodier-right{
    
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-right:100px;
    margin-top: 150px;
 
 }
 
 input{
   
    height:35px;
    width: 500px;
    background-color:rgb(195, 189, 189);
    border-radius: 10px;
   
 }
 .booton{
    padding: 7px 15px;
    font-size: 20px;
    color: white;
    background: transparent;
    border: 4px solid #500523;
    border-radius: 20px;
    width: 200px;
    margin-left: 150px;

}
.footer{
  
   background-color: rgb(79, 73, 73);
   padding-top: 100px;
   width: auto;
   height: auto;
   padding:40px;
   gap: 100px;
}
.footer i{
    font-size:20px;
    margin-left: 10px;
    color: white;
}
.footer i:hover{
   
   color: #500523;
   transition: 1s;
}
.footer a{
    text-decoration: none;
    font-weight: bolder;
    
}
.about-right span{
    margin-right: 15px;
}
 

 



